<%- include('partials/header') -%>

<h1 class="title">About</h1>
<p><%= aboutContent %></p>
<div class="logosAbout">
  <img class="logoNodeJS" src="/img/nodeJS.png" alt="node.js picture">
  <img class="logoMongoDB" src="/img/mongoDB.png" alt="mongoDB picture">
</div>

<%- include('partials/footer') -%>
