<%- include('partials/header') -%>

<div class="composeRow">
<h1 class="title composeTitle">Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
    <label for="postAuthor">Author</label>
    <input
      type="text"
      name="postAuthor"
      id="postAuthor"
      class="form-control"
      placeholder="enter your name"
      autocomplete="off"
      required
    />
  </div>
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input
      type="text"
      name="postTitle"
      id="postTitle"
      class="form-control"
      placeholder="enter a title for your post"
      autocomplete="off"
      required
    />
    </div>

  <div class="form-group">
  <label for="postText">Post</label>
  <textarea name="postBody" id="textarea" class="form-control" cols="30" rows="7"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg publishBtn">Publish</button>
</form>
</div>

<%- include('partials/footer') -%>


