<%- include('partials/header') -%>


    <h1  class="title">Contact</h1>
    <p><%= contactContent %></p>

<div class="contact">
    <img class="ramaFoto" src="/img/Rama.png" alt="foto Rama">
    <div class="logos">
 
        <div>
            <a
                href="https://github.com/R-Sabajo"
                target="_blank"
                ><img class="logo github" src="/img/github.png" alt="github logo"></a>
        </div>
        <div>
            <a
                href="mailto:rsabajo@gmail.com"
                target="_blank"
                ><img class="logo gmail" src="/img/gmail.png" alt="gmail logo"></a>
        </div>
        <div >
            <a
                href="https://www.linkedin.com/in/rsabajo/"
                target="_blank"
                ><img class="logo linkedIN" src="/img/linkedIN.png" alt="linkedIN logo"></a
                >
        </div>
    </div>
</div>



<%- include('partials/footer') -%>
