:root {
  --steel-blue: #337ab7ff;
}

body {
  box-sizing: border-box !important;
}

a:hover {
  text-decoration: none;
}

::placeholder {
  color: #999 !important;
}

.main.container-fluid {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #555555;
}

/* NavBar */

.navbar {
  margin: 0;
  padding: 15px 30px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 5px;
}

.navbar-brand a:hover {
  text-decoration: none;
  color: var(--steel-blue) !important;
}

.nav-link {
  padding: 15px 20px !important;
}

.nav-link:hover {
  color: var(--steel-blue) !important;
  background-color: white !important;
  border-radius: 15px;
  transition: background-color 500ms ease-in-out;
}

/* Titles */

.title {
  font-size: 1.8rem;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Content */

.content.container-fluid {
  color: #333;
  height: 82%;
  overflow-y: auto;
  padding: 2% 4% 0%;
}

.postsBox {
  height: 50%;
  overflow-y: auto;
  margin-bottom: 30px;
  padding: 0 2%;
  box-shadow: 1px 2px 3px inset #999;
}

.post {
  margin: 20px 0;
}

.post h3 {
  font-size: 1.2rem;
  margin: 0;
}
.postBody {
  font-size: 0.85rem;
}

.authorDate {
  color: #888;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

/* About Page */

.logosAbout {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logoAbout {
  height: 150px;
}

/* Contact Page */

.ramaFoto {
  width: 250px;
  height: 250px;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 150ms ease-in-out;
}

.logos {
  padding: 20px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.gmail {
  height: 60px;
  margin: 30px;
}

.linkedIN {
  height: 43px;
}

.github {
  height: 50px;
}

.contact {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #dfdfdf;
  padding: 1%;
}

.footer p {
  font-size: 14px;
  color: #999;
  margin: 0;
}

/*  */
/* MEDIA QUERY FOR MOBILE */
/*  */

@media only screen and (max-device-width: 812px) {
  /* NavBar */

  .navbar {
    margin: 0;
    padding: 30px 30px;
    border: 0;
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .nav-link {
    margin: 30px 0;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-toggler-icon {
    font-size: 3rem;
  }

  /* Titles */

  .title {
    font-size: 3.5rem;
    padding: 10px 0;
  }

  .subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.7rem;
  }

  /* Content */

  p {
    font-size: 2rem;
  }

  .content.container-fluid {
    color: #333;
    height: 85%;
    overflow-y: auto;
    padding: 2% 5% 0%;
  }

  .postsBox {
    height: 66%;
    overflow-y: auto;
    margin-bottom: 30px;
    padding: 3.5%;
    box-shadow: 1px 2px 3px inset #999;
  }

  .post {
    margin: 20px 0;
  }

  .post h3 {
    font-size: 2.5rem;
    margin: 0;
  }
  .postBody {
    font-size: 2rem;
  }

  .authorDate {
    color: #aaa;
    font-size: 1.7rem;
    margin-bottom: 5px;
  }

  .compose {
    width: 100%;
    font-size: 3rem;
    padding: 5px 0 10px;
  }

  /* About Page */

  .logosAbout {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .logoAbout {
    height: 150px;
  }

  /* Contact Page */

  .ramaFoto {
    width: 250px;
    height: 250px;
  }

  .logo:hover {
    transform: scale(1.1);
    transition: all 150ms ease-in-out;
  }

  .logos {
    padding: 20px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }

  .gmail {
    height: 60px;
    margin: 30px;
  }

  .linkedIN {
    height: 43px;
  }

  .github {
    height: 50px;
  }

  .contact {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    margin-top: 20px;
    padding: 50px 0;
  }

  .footer p {
    font-size: 2rem;
    color: #999;
    margin: 0;
  }
}
